In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
schema_df = pd.read_csv('schema.csv') 
#schema_df.info()
#schema_df=schema_df.question.iloc[3:]

In [4]:
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [5]:
#schema_df.iloc[3:]

In [6]:
schema_df.shape

(48, 6)

In [7]:
df.shape

(83439, 48)

In [8]:
qn = (schema_df['qname']=='NEWOtherComms')

In [9]:
schema_df.loc[qn,'question']

35    Are you a member of any other online developer...
Name: question, dtype: object

In [10]:
pd.set_option('display.max_columns',df.shape[1])
#pd.set_option('display.latex.repr',False)
pd.set_option('display.max_rows',100)

In [11]:
filt = (df['Country']=='Poland')
df.loc[filt,'Country'].value_counts()#.tolist()#(normalize=True)

Poland    1805
Name: Country, dtype: int64

In [12]:
df.loc[0:,'Age'].value_counts(normalize=True)

25-34 years old       0.395209
18-24 years old       0.254748
35-44 years old       0.184244
45-54 years old       0.066402
Under 18 years old    0.065237
55-64 years old       0.022073
Prefer not to say     0.006978
65 years or older     0.005109
Name: Age, dtype: float64

In [13]:
#df.loc[0:20000,'Age'].tolist()

In [14]:
df.loc[50:60,['Age1stCode','Age']]

       Age1stCode                 Age
50  18 - 24 years     25-34 years old
51  11 - 17 years     25-34 years old
52  11 - 17 years     25-34 years old
53  18 - 24 years     25-34 years old
54  25 - 34 years     25-34 years old
55   5 - 10 years     35-44 years old
56  18 - 24 years     25-34 years old
57   5 - 10 years     35-44 years old
58  11 - 17 years     25-34 years old
59   5 - 10 years  Under 18 years old
60  11 - 17 years     18-24 years old

In [15]:
df.set_index('ResponseId',inplace=True)

In [16]:
df.reset_index(inplace=True)

In [17]:
#df.iloc[0]

In [18]:
df['Country']

0                                                 Slovakia
1                                              Netherlands
2                                       Russian Federation
3                                                  Austria
4        United Kingdom of Great Britain and Northern I...
                               ...
83434                             United States of America
83435                                                Benin
83436                             United States of America
83437                                               Canada
83438                                               Brazil
Name: Country, Length: 83439, dtype: object

In [19]:
#filt = (df['LanguageHaveWorkedWith']=='Python')

In [20]:
filt = df['LanguageHaveWorkedWith'].str.contains('Python', na=False)

In [21]:
countries=['Slovakia','Poland','Russian Federation']

In [22]:
filts = (df['Country'].isin(countries)) & ~(df['LanguageHaveWorkedWith'].str.contains('Python', na=False)) &( df['Age'].between('25-34 years old','35-44 years old'))

In [23]:
# .isin(countries)    .str.contains('Python')
filt = (df['Country'].isin(countries))

In [24]:
df.loc[filts, ['LanguageHaveWorkedWith','Country','Age']]  #sort_index( ascending=True)

,LanguageHaveWorkedWith,Country,Age
0,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Slovakia,25-34 years old
29,Delphi;Java;SQL,Russian Federation,35-44 years old
32,C++;HTML/CSS;JavaScript;PHP;SQL,Poland,25-34 years old
135,Bash/Shell;C;HTML/CSS;Java;JavaScript;Node.js;...,Slovakia,25-34 years old
146,C++;Java;Kotlin;Objective-C;Swift,Russian Federation,25-34 years old
...,...,...,...
83108,Bash/Shell;C++;Go;Perl,Russian Federation,35-44 years old
83110,Java;Kotlin;SQL,Poland,25-34 years old
83203,Bash/Shell;C#;Ruby;Rust,Poland,25-34 years old
83294,Node.js;PHP,Russian Federation,25-34 years old
83324,HTML/CSS;JavaScript,Poland,25-34 years old

In [25]:
ff= (df['Country']=='Poland') & (df['LanguageHaveWorkedWith'].str.contains('Python'))
df.loc[ff,'Age'].value_counts()

25-34 years old       306
18-24 years old       285
35-44 years old       118
Under 18 years old     79
45-54 years old        15
55-64 years old         2
Prefer not to say       2
65 years or older       1
Name: Age, dtype: int64

In [26]:
df.at[32,'Country'] = 'Olkuszanin'

In [27]:
def yesOrNo(item):
    if item=='Yes': item=True
    else: item=False
    return item

In [28]:
df['NEWOtherComms']=df['NEWOtherComms'].apply(yesOrNo)

In [29]:
df['NEWOtherComms']=df['NEWOtherComms'].map({True:'Yeeep',False:'Nope'})

In [30]:
df['OpSys'].value_counts()

Windows                              37758
Linux-based                          21088
MacOS                                20984
Windows Subsystem for Linux (WSL)     2743
Other (please specify):                575
BSD                                    146
Name: OpSys, dtype: int64

In [31]:
df['ConvertedCompYearly'].median()

56211.0

In [32]:
df.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

In [33]:
country = df.groupby(['Country'])

In [34]:
#country.get_group('Poland')

In [35]:
country['OpSys'].value_counts()#.loc['Poland']

Country      OpSys
Afghanistan  Windows                              28
             Linux-based                          18
             MacOS                                 6
             Other (please specify):               6
             BSD                                   2
                                                  ..
Zimbabwe     Windows                              20
             Linux-based                           9
             MacOS                                 5
             Other (please specify):               1
             Windows Subsystem for Linux (WSL)     1
Name: OpSys, Length: 751, dtype: int64

In [36]:
country['CompTotal'].median().sort_values(ascending=False).head(10)

Country
Iran, Islamic Republic of...    80000000.0
South Korea                     32000000.0
Republic of Korea               30000000.0
Viet Nam                        18000000.0
Indonesia                        9000000.0
Japan                            5000000.0
Colombia                         4500000.0
Paraguay                         4450000.0
Guinea                           4000000.0
Uganda                           2500000.0
Name: CompTotal, dtype: float64

In [37]:
country['CompTotal'].median().loc['United States of America']

120000.0

In [38]:
country['CompTotal'].agg(['mean','median']).loc['Germany']

mean      48913.12228
median    52600.00000
Name: Germany, dtype: float64

In [39]:
pkp = country['LanguageHaveWorkedWith'].apply(lambda item: item.str.contains('Java').sum())

In [40]:
evr = df['Country'].value_counts()

In [41]:
ans = pd.concat([pkp,evr], axis='columns')

In [42]:
ans.rename(columns={'LanguageHaveWorkedWith':'UsingPython','Country': 'AllPeopleInCountry'}, inplace=True)

In [43]:
ans['%PeopleUsingPython'] = round(ans['UsingPython'] / ans['AllPeopleInCountry'] *100)

In [44]:
ans.loc['Poland']

UsingPython           1306.0
AllPeopleInCountry    1804.0
%PeopleUsingPython      72.0
Name: Poland, dtype: float64

In [45]:
ans.sort_values(by='%PeopleUsingPython',ascending=False).head(10)

,UsingPython,AllPeopleInCountry,%PeopleUsingPython
Liechtenstein,1,1,100.0
Isle of Man,5,5,100.0
Burundi,5,5,100.0
Burkina Faso,4,4,100.0
Brunei Darussalam,1,1,100.0
Democratic Republic of the Congo,10,10,100.0
Togo,7,7,100.0
Dominica,1,1,100.0
Gambia,2,2,100.0
Guinea,2,2,100.0

In [46]:
df['YearsCode'].unique()

array([nan, '7', '17', '3', '4', '6', '16', '12', '15', '10', '40', '9',
       '26', '14', '39', '20', '8', '19', '5', 'Less than 1 year', '22',
       '2', '1', '34', '21', '13', '25', '24', '30', '31', '18', '38',
       'More than 50 years', '27', '41', '42', '35', '23', '28', '11',
       '37', '44', '43', '36', '33', '45', '29', '50', '46', '32', '47',
       '49', '48'], dtype=object)

In [47]:
df['YearsCode'].replace('More than 50 years',51, inplace=True)

In [48]:
df['YearsCode'].replace('Less than 1 year',0, inplace=True)

In [49]:
df['YearsCode'].unique()

array([nan, '7', '17', '3', '4', '6', '16', '12', '15', '10', '40', '9',
       '26', '14', '39', '20', '8', '19', '5', 0, '22', '2', '1', '34',
       '21', '13', '25', '24', '30', '31', '18', '38', 51, '27', '41',
       '42', '35', '23', '28', '11', '37', '44', '43', '36', '33', '45',
       '29', '50', '46', '32', '47', '49', '48'], dtype=object)

In [50]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [51]:
df['YearsCode'].median()

10.0

In [52]:
df['YearsCode'].mean()

12.338200169032717

In [53]:
round(country['YearsCode'].mean().sort_values(ascending=False)).loc['Poland']

11.0