In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
schema_df = pd.read_csv('schema.csv') 
#schema_df.info()
#schema_df=schema_df.question.iloc[3:]

In [4]:
df.head(10)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
5,6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
6,7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,...,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
7,8,I am a student who is learning to code,"Student, full-time",Malaysia,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Online Courses or Certification,4,...,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent;Multiracial;South...,None of the above,None of the above,Appropriate in length,Easy,NaN
8,9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,...,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
9,10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0

In [5]:
schema_df.iloc[3:]

,qid,qname,question,force_resp,type,selector
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID24,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
6,QID7,US_State,<p>In which state or territory of the USA do y...,False,MC,DL
7,QID9,UK_Country,In which part of the United Kingdom do you liv...,False,MC,DL
8,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
9,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
10,QID149,Age1stCode,At what age did you write your first line of c...,False,MC,MAVR
11,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,SB
17,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
18,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
19,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
20,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
21,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
22,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
23,QID264,Webframe,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
24,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
25,QID275,ToolsTech,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
26,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
27,QID71,OpSys,What is the primary operating system in which ...,False,MC,SAVR
28,QID243,NEWStuck,What do you do when you get stuck on a problem...,False,MC,MAVR
29,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
30,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
31,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
32,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
33,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
34,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
35,QID267,NEWOtherComms,Are you a member of any other online developer...,False,MC,MAVR
36,QID268,NEWOtherCommsNames,Please name up to 5 other online developer com...,False,Matrix,Likert
37,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID127,Age,What is your age?,False,MC,MAVR
39,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
40,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
41,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
42,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
43,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
44,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
45,QID131,S6,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
46,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
47,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR

In [6]:
schema_df.shape

(48, 6)

In [7]:
df.shape

(83439, 48)

In [8]:
qn = (schema_df['qname']=='NEWOtherComms')

In [9]:
schema_df.loc[qn,'question']

35    Are you a member of any other online developer...
Name: question, dtype: object

In [10]:
pd.set_option('display.max_columns',df.shape[1])
#pd.set_option('display.latex.repr',False)
pd.set_option('display.max_rows',100)

In [11]:
filt = (df['Country']=='Poland')
df.loc[filt,'Country'].value_counts()#.tolist()#(normalize=True)

Poland    1805
Name: Country, dtype: int64

In [12]:
df.loc[0:,'Age'].value_counts(normalize=True)

25-34 years old       0.395209
18-24 years old       0.254748
35-44 years old       0.184244
45-54 years old       0.066402
Under 18 years old    0.065237
55-64 years old       0.022073
Prefer not to say     0.006978
65 years or older     0.005109
Name: Age, dtype: float64

In [13]:
df.loc[0:20000,'Age'].tolist()

['25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 'Prefer not to say',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'Prefer not to say',
 '45-54 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 'Under 18 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 'Prefer not to say',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '65 years or older',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 'Under 18 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '55-64 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '65 years or older',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 'Under 18 years old',
 '25-34 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 nan,
 '18-24 years old',
 '45-54 years old',
 '45-54 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '35-44 years old',
 '25-34 years old',
 'Prefer not to say',
 '25-34 years old',
 '35-44 years old',
 '45-54 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '55-64 years old',
 '18-24 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '35-44 years old',
 'Under 18 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 'Prefer not to say',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '55-64 years old',
 'Under 18 years old',
 '18-24 years old',
 'Under 18 years old',
 'Prefer not to say',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 'Under 18 years old',
 '35-44 years old',
 nan,
 'Under 18 years old',
 'Prefer not to say',
 '25-34 years old',
 '18-24 years old',
 '45-54 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '55-64 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 'Under 18 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 'Under 18 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '55-64 years old',
 '45-54 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '55-64 years old',
 '35-44 years old',
 'Prefer not to say',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 nan,
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 'Under 18 years old',
 '65 years or older',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '55-64 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '55-64 years old',
 '55-64 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '45-54 years old',
 '25-34 years old',
 'Under 18 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '45-54 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'Prefer not to say',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 'Under 18 years old',
 nan,
 '55-64 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '55-64 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '35-44 years old',
 'Under 18 years old',
 '55-64 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '45-54 years old',
 '35-44 years old',
 '35-44 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 'Under 18 years old',
 '55-64 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '55-64 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '45-54 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 'Under 18 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 'Prefer not to say',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 'Under 18 years old',
 '35-44 years old',
 '45-54 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '55-64 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 'Under 18 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '45-54 years old',
 '18-24 years old',
 '45-54 years old',
 '35-44 years old',
 '18-24 years old',
 'Under 18 years old',
 '35-44 years old',
 '35-44 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '65 years or older',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '45-54 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '55-64 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 'Under 18 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '65 years or older',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '55-64 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '55-64 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 'Under 18 years old',
 '45-54 years old',
 '35-44 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 'Under 18 years old',
 'Under 18 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 nan,
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 'Under 18 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '45-54 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 nan,
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '55-64 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 'Under 18 years old',
 'Under 18 years old',
 '45-54 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 'Under 18 years old',
 '55-64 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',

In [14]:
df.loc[50:60,['Age1stCode','Age']]

       Age1stCode                 Age
50  18 - 24 years     25-34 years old
51  11 - 17 years     25-34 years old
52  11 - 17 years     25-34 years old
53  18 - 24 years     25-34 years old
54  25 - 34 years     25-34 years old
55   5 - 10 years     35-44 years old
56  18 - 24 years     25-34 years old
57   5 - 10 years     35-44 years old
58  11 - 17 years     25-34 years old
59   5 - 10 years  Under 18 years old
60  11 - 17 years     18-24 years old

In [15]:
df.set_index('ResponseId',inplace=True)

In [16]:
df.reset_index(inplace=True)

In [17]:
df.iloc[0]

ResponseId                                                                      1
MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                                  Slovakia
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                         Secondary school (e.g. American high school, G...
Age1stCode                                                          18 - 24 years
LearnCode                       Coding Bootcamp;Other online resources (ex: vi...
YearsCode                                                                     NaN
YearsCodePro                                                                  NaN
DevType                                                         Developer, mobile
OrgSize                                                        20 to 99 employees
Currency                                                        EUR European Euro
CompTotal                                                                  4800.0
CompFreq                                                                  Monthly
LanguageHaveWorkedWith              C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
LanguageWantToWorkWith                                                      Swift
DatabaseHaveWorkedWith                                          PostgreSQL;SQLite
DatabaseWantToWorkWith                                                     SQLite
PlatformHaveWorkedWith                                                        NaN
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                            Laravel;Symfony
WebframeWantToWorkWith                                                        NaN
MiscTechHaveWorkedWith                                                        NaN
MiscTechWantToWorkWith                                                        NaN
ToolsTechHaveWorkedWith                                                       NaN
ToolsTechWantToWorkWith                                                       NaN
NEWCollabToolsHaveWorkedWith                                       PHPStorm;Xcode
NEWCollabToolsWantToWorkWith                                           Atom;Xcode
OpSys                                                                       MacOS
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                                Multiple times per day
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                            Yes, definitely
NEWOtherComms                                                                  No
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       62268.0
Name: 0, dtype: object

In [18]:
df['Country']

0                                                 Slovakia
1                                              Netherlands
2                                       Russian Federation
3                                                  Austria
4        United Kingdom of Great Britain and Northern I...
                               ...
83434                             United States of America
83435                                                Benin
83436                             United States of America
83437                                               Canada
83438                                               Brazil
Name: Country, Length: 83439, dtype: object

In [19]:
#filt = (df['LanguageHaveWorkedWith']=='Python')

In [20]:
filt = df['LanguageHaveWorkedWith'].str.contains('Python', na=False)

In [21]:
countries=['Slovakia','Poland','Russian Federation']

In [22]:
filts = (df['Country'].isin(countries)) & ~(df['LanguageHaveWorkedWith'].str.contains('Python', na=False)) &( df['Age'].between('25-34 years old','35-44 years old'))

In [23]:
# .isin(countries)    .str.contains('Python')
filt = (df['Country'].isin(countries))

In [24]:
df.loc[filts, ['LanguageHaveWorkedWith','Country','Age']]  #sort_index( ascending=True)

,LanguageHaveWorkedWith,Country,Age
0,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Slovakia,25-34 years old
29,Delphi;Java;SQL,Russian Federation,35-44 years old
32,C++;HTML/CSS;JavaScript;PHP;SQL,Poland,25-34 years old
135,Bash/Shell;C;HTML/CSS;Java;JavaScript;Node.js;...,Slovakia,25-34 years old
146,C++;Java;Kotlin;Objective-C;Swift,Russian Federation,25-34 years old
...,...,...,...
83108,Bash/Shell;C++;Go;Perl,Russian Federation,35-44 years old
83110,Java;Kotlin;SQL,Poland,25-34 years old
83203,Bash/Shell;C#;Ruby;Rust,Poland,25-34 years old
83294,Node.js;PHP,Russian Federation,25-34 years old
83324,HTML/CSS;JavaScript,Poland,25-34 years old

In [25]:
ff= (df['Country']=='Poland') & (df['LanguageHaveWorkedWith'].str.contains('Python'))
df.loc[ff,'Age'].value_counts()

25-34 years old       306
18-24 years old       285
35-44 years old       118
Under 18 years old     79
45-54 years old        15
55-64 years old         2
Prefer not to say       2
65 years or older       1
Name: Age, dtype: int64

In [26]:
df.at[32,'Country'] = 'Olkuszanin'

In [27]:
def yesOrNo(item):
    if item=='Yes': item=True
    else: item=False
    return item

In [28]:
df['NEWOtherComms']=df['NEWOtherComms'].apply(yesOrNo)

In [29]:
df['NEWOtherComms']=df['NEWOtherComms'].map({True:'Yeeep',False:'Nope'})

In [30]:
df['OpSys'].value_counts()

Windows                              37758
Linux-based                          21088
MacOS                                20984
Windows Subsystem for Linux (WSL)     2743
Other (please specify):                575
BSD                                    146
Name: OpSys, dtype: int64

In [31]:
df['ConvertedCompYearly'].median()

56211.0

In [32]:
df.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

In [33]:
country = df.groupby(['Country'])

In [34]:
country.get_group('Poland')

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
76,77,"I am not primarily a developer, but I write co...",Employed full-time,Poland,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",12,8,"Developer, front-end;Developer, full-stack;Dev...","5,000 to 9,999 employees",PLN\tPolish zloty,15000.0,Monthly,Bash/Shell;C#;Dart;Delphi;Go;HTML/CSS;Java;Jav...,NaN,Firebase;Microsoft SQL Server;MongoDB;MySQL;Po...,NaN,Google Cloud Platform;Microsoft Azure,Google Cloud Platform,Angular;Angular.js;ASP.NET;ASP.NET Core ;Djang...,NaN,.NET Framework;.NET Core / .NET 5;Apache Spark...,NaN,Docker;Git;Unity 3D,NaN,Android Studio;Eclipse;NetBeans;Notepad++;Visu...,NaN,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",Nope,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,45564.0
97,98,I am a developer by profession,Employed full-time,Poland,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",10,4,"Developer, front-end;Developer, full-stack;Dev...",2 to 9 employees,PLN\tPolish zloty,9000.0,Monthly,HTML/CSS;JavaScript;Node.js;PHP;SQL;TypeScript,HTML/CSS;JavaScript;Node.js;TypeScript,Firebase;MongoDB;MySQL;PostgreSQL;SQLite,NaN,AWS;DigitalOcean;Google Cloud Platform;Heroku,NaN,Laravel;React.js,React.js,NaN,NaN,Docker;Git;Terraform;Yarn,Docker;Git,Vim;Visual Studio Code,Visual Studio Code,Windows,Visit Stack Overflow;Google it,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",Nope,18-24 years old,Man,No,Gay or Lesbian,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,27336.0
115,116,I am a student who is learning to code,"Student, full-time",Poland,NaN,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,Other (please specify):,4,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;C#;C++;HTML/CSS;JavaScript;PowerShe...,Bash/Shell;C#;C++;HTML/CSS;JavaScript;Python;T...,NaN,NaN,NaN,NaN,NaN,NaN,NumPy,NumPy,Git,Docker;Git;Unity 3D,Visual Studio Code,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,Less than once per month or monthly,"Yes, somewhat",Yeeep,Under 18 years old,Man,No,Straight / Heterosexual,White or of European descent,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
138,139,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Poland,NaN,NaN,Some college/university study without earning ...,18 - 24 years,Online Forum,5,3,"Developer, front-end;Developer, full-stack;Eng...",2 to 9 employees,PLN\tPolish zloty,16000.0,Monthly,Go;JavaScript;Python;SQL;TypeScript;VBA,JavaScript;Python;SQL;TypeScript;VBA,Elasticsearch;MariaDB;Microsoft SQL Server;Mon...,Elasticsearch;MariaDB;Microsoft SQL Server;Mon...,AWS;Google Cloud Platform;Microsoft Azure,AWS,Django;FastAPI;Flask;Gatsby;jQuery;React.js,Django;FastAPI;React.js,NumPy;Pandas;Qt,NaN,Ansible;Docker;Git;Yarn,Ansible;Docker;Git;Yarn,PyCharm,PyCharm,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, definitely",Yeeep,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent;Middle Eastern,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,48600.0
182,183,I am a developer by profession,Employed full-time,Poland,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Other (please specify):,6,3,"Developer, back-end;DevOps specialist",100 to 499 employees,PLN\tPolish zloty,5500.0,Monthly,C;C++;Delphi;Go;HTML/CSS;Perl;Python;R;Ruby;Rust,Go;HTML/CSS;Python;Rust,DynamoDB;MariaDB;MongoDB;MySQL;PostgreSQL;SQLite,DynamoDB;MariaDB;MongoDB;MySQL;PostgreSQL,AWS,AWS,Django;Flask,NaN,NumPy;Pandas,Pandas,Docker;Git;Terraform,Docker;Git;Terraform,IntelliJ;Neovim;PyCharm;Sublime Text;Vim;Webstorm,Neovim;PyCharm;Sublime Text;Vim,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Nope,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,16704.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83110,83111,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Poland,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",10,3,"Developer, back-end",NaN,PLN\tPolish zloty,14000.0,NaN,Java;Kotlin;SQL,Java;Kotlin;Rust,MySQL;PostgreSQL,Elasticsearch;MySQL;Redis,NaN,NaN,Spring,Spring,NaN,NaN,Ansible;Docker;Git,Ansible;Docker;Git,Android Studio;Atom;IntelliJ;Sublime Text;Webs...,Atom;IntelliJ;Sublime Text;Webstorm,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"No, not really",Nope,25-34 years old,Man,NaN,NaN,NaN,NaN,NaN,Too long,NaN,NaN
83145,83146,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Poland,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,Coding Bootcamp;School;Online Courses or Certi...,10,7,"Developer, full-stack;Developer, back-end;Educ...",100 to 499 employees,PLN\tPolish zloty,24000.0,Monthly,Bash/Shell;JavaScript;Python;Ruby;SQL,Bash/Shell;Python;Ruby;SQL,DynamoDB;Elasticsearch;MariaDB;MySQL;PostgreSQ...,DynamoDB;Elasticsearch;Firebase;MySQL;PostgreS...,AWS;DigitalOcean;Heroku,AWS;DigitalOcean;Heroku,React.js;Ruby on Rails,Ruby on Rails,NaN,NaN,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Atom;RubyMine;Sublime Text;Vim;Visual Studio Code,RubyMine;Vim;Visual Studio Code,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per week,Yes,Less than once per month or monthly,"No, not really",Yeeep,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,72900.0
83203,83204,I am a developer by profession,Employed full-time,Poland,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,Other (please specify):;Books / Physical media,25,8,"Engineer, data",100 to 499 employees,PLN\tPolish zloty,14500.0,Monthly,Bash/Shell;C#;Ruby;Rust,C#;Rust,MongoDB;PostgreSQL;Redis,PostgreSQL;Redis,Google Cloud Platform;Microsoft Azure,NaN,NaN,NaN,.NET Framework;.NET Core / .NET 5,.NET Framework;.NET Core / .NET 5,Ansible;Docker;Git;Unity 3D,Git,IntelliJ;Rider;Sublime Text;Visual Studio Code,IntelliJ;Rider;Sublime Text;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"No, not really",Nope,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,44040.0
83264,83265,"I am not primarily a developer, but I write co...","Student, full-time",Poland,NaN,NaN,Primary/elementary school,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,NaN,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Java;Matlab;Node.js;SQL,Java;SQL,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL,MongoDB;MySQL,AWS;DigitalOcean;Google Cloud Platform,DigitalOcean,React.js,NaN,.NET Framework;.NET Core / .NET 5,NaN,Git;Unity 3D;Unreal Engine,Git,Atom;Notepad++;Sublime Text;Visual Studio;Visu...,Visual Studio Code,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,No,NaN,"No, not really",Yeeep,Under 18 years old,Man,No,Prefer not to say,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
83324,83325,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Poland,NaN,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,"Other online resources (ex: videos, blogs, etc...",18,6,"Developer, mobile;Developer, front-end;Develop...",2 to 9 employees,PLN\tPolish zloty,120000.0,Yearly,HTML/CSS;JavaScript,HTML/CSS;JavaScript;Node.js;TypeScript,Firebase,Firebase;MongoDB;PostgreSQL,NaN,NaN,Angular;Angular.js;jQuery;React.js;Vue.js,Express;Gatsby;React.js,React Native,Flutter;React Native,Git,Docker;Git;Kubernetes;Unreal Engine,Android Studio;Atom;Sublime Text;Visual Studio...,Android Studio;Visual Studio Code;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"No, not really",Nope,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Too short,Easy,30375.0

In [35]:
country['OpSys'].value_counts()#.loc['Poland']

Country      OpSys
Afghanistan  Windows                              28
             Linux-based                          18
             MacOS                                 6
             Other (please specify):               6
             BSD                                   2
                                                  ..
Zimbabwe     Windows                              20
             Linux-based                           9
             MacOS                                 5
             Other (please specify):               1
             Windows Subsystem for Linux (WSL)     1
Name: OpSys, Length: 751, dtype: int64

In [36]:
 country['CompTotal'].median().sort_values(ascending=False).head(30)

Country
Iran, Islamic Republic of...        80000000.0
South Korea                         32000000.0
Republic of Korea                   30000000.0
Viet Nam                            18000000.0
Indonesia                            9000000.0
Japan                                5000000.0
Colombia                             4500000.0
Paraguay                             4450000.0
Guinea                               4000000.0
Uganda                               2500000.0
Mongolia                             2400000.0
Chile                                1800000.0
Lao People's Democratic Republic     1800000.0
Burkina Faso                         1200000.0
United Republic of Tanzania          1150000.0
Madagascar                           1035000.0
Armenia                              1000000.0
Uzbekistan                            976000.0
Iceland                               800000.0
Senegal                               800000.0
Hungary                               740000.0
Norway                                705000.0
Iraq                                  650000.0
India                                 622000.0
Kazakhstan                            600000.0
Djibouti                              535000.0
Côte d'Ivoire                         450000.0
Myanmar                               400000.0
Malawi                                355000.0
Rwanda                                300000.0
Name: CompTotal, dtype: float64

In [37]:
country['CompTotal'].median().loc['United States of America']

120000.0

In [38]:
country['CompTotal'].agg(['mean','median']).loc['Germany']

mean      48913.12228
median    52600.00000
Name: Germany, dtype: float64

In [39]:
pkp = country['LanguageHaveWorkedWith'].apply(lambda item: item.str.contains('Java').sum())

In [40]:
evr = df['Country'].value_counts()

In [41]:
ans = pd.concat([pkp,evr], axis='columns')

In [42]:
ans.rename(columns={'LanguageHaveWorkedWith':'UsingPython','Country': 'AllPeopleInCountry'}, inplace=True)

In [43]:
ans['%PeopleUsingPython'] = round(ans['UsingPython'] / ans['AllPeopleInCountry'] *100)

In [44]:
ans.loc['Poland']

UsingPython           1306.0
AllPeopleInCountry    1804.0
%PeopleUsingPython      72.0
Name: Poland, dtype: float64

In [45]:
ans.sort_values(by='%PeopleUsingPython',ascending=False).head(100)

,UsingPython,AllPeopleInCountry,%PeopleUsingPython
Liechtenstein,1,1,100.0
Isle of Man,5,5,100.0
Burundi,5,5,100.0
Burkina Faso,4,4,100.0
Brunei Darussalam,1,1,100.0
Democratic Republic of the Congo,10,10,100.0
Togo,7,7,100.0
Dominica,1,1,100.0
Gambia,2,2,100.0
Guinea,2,2,100.0
Tuvalu,1,1,100.0
Chad,2,2,100.0
Lao People's Democratic Republic,4,4,100.0
Mauritania,5,5,100.0
Olkuszanin,1,1,100.0
Saint Kitts and Nevis,1,1,100.0
San Marino,2,2,100.0
Guatemala,55,58,95.0
Côte d'Ivoire,16,17,94.0
Senegal,26,28,93.0
Cameroon,35,38,92.0
Namibia,11,12,92.0
Malawi,10,11,91.0
Jamaica,18,20,90.0
Swaziland,9,10,90.0
Sri Lanka,355,396,90.0
Bosnia and Herzegovina,116,130,89.0
Tunisia,134,150,89.0
Bahrain,25,28,89.0
"Venezuela, Bolivarian Republic of...",93,104,89.0
Honduras,21,24,88.0
Uganda,55,63,87.0
Ecuador,90,103,87.0
Mongolia,18,21,86.0
Syrian Arab Republic,44,51,86.0
Morocco,174,204,85.0
Cuba,29,34,85.0
Costa Rica,65,77,84.0
Panama,26,31,84.0
Palestine,21,25,84.0
Dominican Republic,87,104,84.0
Luxembourg,43,51,84.0
The former Yugoslav Republic of Macedonia,45,54,83.0
Mozambique,10,12,83.0
Nigeria,339,409,83.0
Mexico,575,695,83.0
"Congo, Republic of the...",10,12,83.0
Zambia,18,22,82.0
Libyan Arab Jamahiriya,9,11,82.0
Nepal,275,337,82.0
Kosovo,37,45,82.0
Bangladesh,578,704,82.0
Montenegro,14,17,82.0
Lebanon,91,113,81.0
Maldives,13,16,81.0
Sudan,22,27,81.0
Mauritius,25,31,81.0
El Salvador,26,32,81.0
Colombia,308,381,81.0
Philippines,309,382,81.0
Bhutan,4,5,80.0
Ghana,73,91,80.0
Argentina,468,587,80.0
Haiti,4,5,80.0
Peru,117,147,80.0
Suriname,4,5,80.0
Malta,33,42,79.0
Indonesia,499,632,79.0
Rwanda,27,34,79.0
Paraguay,37,47,79.0
Portugal,420,530,79.0
Kenya,204,263,78.0
Spain,1156,1485,78.0
Pakistan,654,838,78.0
Republic of Moldova,43,55,78.0
Slovenia,183,235,78.0
Latvia,83,107,78.0
Jordan,56,72,78.0
Madagascar,14,18,78.0
Uruguay,113,144,78.0
Slovakia,194,252,77.0
Albania,56,73,77.0
Saudi Arabia,106,137,77.0
Bolivia,37,48,77.0
New Zealand,401,522,77.0
Romania,503,650,77.0
Serbia,239,310,77.0
Singapore,262,339,77.0
Belgium,539,697,77.0
Azerbaijan,49,64,77.0
United Republic of Tanzania,33,43,77.0
Croatia,192,250,77.0
Italy,1284,1666,77.0
South Africa,437,571,77.0
Viet Nam,295,386,76.0
Hong Kong (S.A.R.),150,198,76.0
Malaysia,254,333,76.0
Kuwait,22,29,76.0
Turkey,801,1054,76.0
Netherlands,1354,1772,76.0

In [46]:
df['YearsCode'].unique()

array([nan, '7', '17', '3', '4', '6', '16', '12', '15', '10', '40', '9',
       '26', '14', '39', '20', '8', '19', '5', 'Less than 1 year', '22',
       '2', '1', '34', '21', '13', '25', '24', '30', '31', '18', '38',
       'More than 50 years', '27', '41', '42', '35', '23', '28', '11',
       '37', '44', '43', '36', '33', '45', '29', '50', '46', '32', '47',
       '49', '48'], dtype=object)

In [47]:
df['YearsCode'].replace('More than 50 years',51, inplace=True)

In [50]:
df['YearsCode'].replace('Less than 1 year',0, inplace=True)

In [48]:
df['YearsCode'].unique()

array([nan, '7', '17', '3', '4', '6', '16', '12', '15', '10', '40', '9',
       '26', '14', '39', '20', '8', '19', '5', 'Less than 1 year', '22',
       '2', '1', '34', '21', '13', '25', '24', '30', '31', '18', '38', 51,
       '27', '41', '42', '35', '23', '28', '11', '37', '44', '43', '36',
       '33', '45', '29', '50', '46', '32', '47', '49', '48'], dtype=object)

In [51]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [52]:
df['YearsCode'].median()

10.0

In [53]:
df['YearsCode'].mean()

12.338200169032717

In [54]:
round(country['YearsCode'].mean().sort_values(ascending=False)).loc['Poland']

11.0